.footer_container {
  text-align: left;
  line-height: 20px;
  padding-top: 4%;
  padding-bottom: 2%;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  vertical-align: top;
}

/* Footer left */
.footer-left {
  width: 40%;
}

/* Footer Center */

.footer-center {
  width: 15%;
  text-align: center;
  
}

.footer-center div{
    display: flex;
    justify-content: space-evenly;
}

/* Footer right  */

.footer-right {
  width: 20%;
  text-align: left;
}
.footer-company-about {
 font-size: small;
}

.footer-company-about span {
  margin-bottom: 20px;
}

.footer-center i {
  background-color: #33383b;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 30%;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
}


.footer_session2{
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    display: inline-flex ;
    border-top: 1px solid #fff;
}


@media only screen and (max-width: 600px) {

	.footer-left, .footer-center, .footer-right, .footer_container{
		display: block;
		width: 100%;
		text-align: center;
	}

}
