/*===== GOOGLE FONTS =====*/


.countryBody{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  line-height: 1.6;
}
.hpul{
  margin: 0;
}
.eclipsecurvecut{
  border-radius: 40%;
  background-position: center;
  background-color: white;
  transform: rotateX(-10deg);
}
.eclipsecurvecutinside{
  padding: 10%;
  border-radius: 100px;
  background-position: center;
  background-color: transparent;
  transform: rotateX(10deg);
  animation: fadeinfadeout 2s infinite alternate;
 
}
a{
  text-decoration: none;
}


.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}
.cs_button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.cs_button:hover{
  background-color: var(--first-color-alt);
}
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
  text-align: justify;
}

.about__img{
  width: 280px;
  justify-self: center;
}


/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .about__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial{
    text-align: initial;
  }

  .about__img{
    width: 380px;
    order: -1;
  }
}



@media screen and (min-width: 768px){
  .countryBody{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }
}
@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .about__container{
    column-gap: 7rem;
  }
}