
.newsletter {
	display: flex;
	background-color: var(--secondary_color);
	width: 70%;
	padding: 2%;
	margin: auto;
    font-family: 'Poppins';
    margin-bottom: 4%;
}

.newsText {
	color: white;
	text-align: right;
	width: 45%;
    font-family: 'Poppins';
	margin: auto;
}

.newsText h1 {
	font-weight: 600;
    font-family: 'Poppins';
}

.newsText img {
	width: 90%;
	margin-top: 1rem;
}

.newsSign {
	width: 25%;
	margin: auto;
	padding: 4rem;
}
.maintitle_newsletter{
    font-size: x-large;
    font-weight: 600;
    font-family: 'Poppins';
    color:var(--secondary_font_color)
}

form {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: var(--secondary_font_color);
	font-size: 1rem;
    font-family: 'Poppins';
}

.input-field {
	position: relative;
	margin-bottom: 1rem;
}

.input_feild {
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.9rem;
	border: none;
	border-bottom: 2px solid #8199d1;
	font-size: 0.9rem;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
	padding: 0 5px;
}

.input_feild:focus {
	outline: none;
	color: rgba(0, 0, 0, 0.6);
	border-bottom: 2px solid #707be4;
}

.btn_submit {
	background: linear-gradient(to left, var(--secondary_color), #e1ccec);
	color: #f9f9f9;
	font-size: 0.9rem;
	font-weight: 600;
	width: 50%;
	padding: 0.4rem;
	margin: auto;
	margin-top: 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    font-family: 'Poppins';
}
@media screen and (max-width: 800px) {
    .newsletter {
        flex-direction: column;
        width: 90%;
    }
    .newsText {
        text-align: center;
        width: 50%;
    }
    .newsSign {
        width: 90%;
        padding: 0%;
        padding-bottom: 1rem;
    }
  }