@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  "Poppins";
}
:root{
  --primary_color:white;
  --secondary_color:rgb(87, 151, 204);
  --optional_color:#1abc9c;

  --font_color:rgba(128, 128, 128, 0.781);
  --font_color_header:rgba(255, 255, 255, 0.8);
  --secondary_font_color:rgb(83, 83, 83);
  --font_color_about:#515365;

  --header_background:#3b5999;
  --header_companylabel_color:black;


  --text_button_background:rgb(11, 39, 66);
  --hero_joinbutton_txt_color:white;
}
