
.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  transition: opacity 0.4s ease-in-out;
}


.stepbystep{
  padding-bottom:10%;
  text-align: center;
}
.stepbystep h2{
  font-size: xx-large;
  font-weight: 800;
  font-family: 'Averia Libre', cursive;
  color: var(--session2_title_color);
  text-shadow: 0px 3px 0px white, 0px 14px 10px rgba(0, 0, 0, 0.15),
		0px 24px 2px rgba(0, 0, 0, 0.1), 0px 24px 30px rgba(0, 0, 0, 0.1);
}
.stepbystep p{
  color: var(--session2_tagline_color);
}
.cardsContainer{
padding-inline: 13%;  
}
.cards {
  position: relative;
  list-style-type: none;
  padding: 0;
  padding-top: 1px;
}
.cards li h3 {
  font-weight: 400;
  font-size: medium;
  color: var(--session2_boxcontent_color);
}

.morebutton_div{
  display: flex;
  flex-direction: row;
  place-content: center;
  width: 100%;
}
.morebutton {
  width: 25%;
  height: 30px;
  background-color: var(--session2_morebutton_background_color);
  color: var(--session2_morebutton_color);
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--sesion2_boxbackground_color);
  border-radius: 30px;
  padding: 40px;
  padding-top: 1px;
  box-shadow: 0 10 10px rgba(255, 255, 255, 0.564);
  transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
  transform-origin: 0 0;

  transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s,
    background 0.4s linear;

  cursor: pointer;
  user-select: none;
}

.last-child {
  margin-bottom: 0;
}

.card--next {
  z-index: 5;
  transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
}

.card--out {
  animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  z-index: 1;
  background: #bbb;
}

.card--current {
  cursor: auto;
  user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  background:  var(--sesion2_boxbackground_color);
  transform: rotate(-1deg) translateX(0%) scale(1);
}
/* animation */

@keyframes card-out {
  0% {
    z-index: 20;
    transform: translateY(0px) rotate(-4deg);
  }
  50% {
    transform: translateY(-120%) rotate(-5deg) translateX(-40px);display: none;
  }
  80% {
    z-index: -1;
    display: none;
  }
  100% {
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  }
}
/* @media screen and (min-width: 1200px) {
  body{
    padding-inline: 5%;
  }
} */

/* responsive */
@media screen and (max-width: 800px) {
  .cards li h3 {
    font-weight: 400;
    font-size: small;
  }
  .morebutton {
    width: 30%;
  }
}


@media screen and (max-width: 415px) {
  .cards li h3 {
    font-weight: 400;
    font-size: x-small;
  }
  .morebutton {
    width: 60%;
  }
  .stepbystep p{
    font-size: x-small;
  }
  .stepbystep h2{
    font-size: large;
  }
}
