body::-webkit-scrollbar {
  display: none;
}

.sideButtonBar{
  position:fixed;
  z-index: 40;
  bottom:10px;
  transform:translateY(0%);
  transform: translateX(-30%);
  background-color:transparent;
}
.btn_nav_item{
  list-style: none;
  position:relative;
  background-color: #25D366;
  border-radius: 50%;
}
.btn_nav_item:hover{
  transform:scale(1.1);
  box-shadow:10px 0 20px rgba(0,0,0,0.25);
}
.btn_nav_link i{
  width:60px;
  height:60px;
  text-decoration: none;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  transition:all 0.3s;
}
.btn_nav_link{
  color:white;
  text-decoration:none;
  border-radius: 100%;
  background-color: transparent;
  font-size:30px;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: 1.5s ease-out 0s 1 slideFromBottom ;
}

.joinus button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 40%;
  background-color: var(--text_button_background);
  color: var(--hero_joinbutton_txt_color);
  font-weight: 400;
}

.typewriter {
	width: 21.5ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 2s step-start infinite, 
    text 10s steps(18) alternate infinite;
}

@keyframes cursor {
	0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}



.hero-text {
  text-align: center;
  align-items: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 1.5s infinite alternate;
  font-size: small;
  top: 50%;
  left: 50%;
  padding: 10px;
  opacity: 1;
  background-color: transparent;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.308),
    10px 10px 20px rgba(0, 0, 0, 0.212);
}
.hero-text p {
  color: var(--hero_joinbutton_txt_color);
  font-weight: 500;
  font-family:  "Montserrat",serif;
  
}
.joinus button {
  width: 40%;
  background-color: var(--button_background_color);
  color: var(--button_label_color);
  font-weight: 400;
}

.joinus button:hover {
  background-color:var(--hero_joinbutton_txt_color) ;
  color: var(--text_button_background);
}
.joinus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-inline: 15px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: none;
}
@import url("https://css.gg/menu.css");

/* responsive  */

@media screen and (max-width: 810px) {
  .btn_nav_link i{
    width:60px;
    height:60px;
  }
  .btn_nav_link{
    font-size:30px;
  }
  .menu {
    width: 100;
    max-height: 0;
    overflow: auto;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .hero-text {
    width: 80%;
    text-align: center;
    align-items: center;
    position: absolute;
    font-size: medium;
    background-color: transparent;
    top: 50%;
    left: 50%;
    opacity: 1;
    padding-inline: 2%;
    transform: translate(-50%, -50%);
    color: var(--hero_joinbutton_txt_color);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.308),
    10px 10px 20px rgba(0, 0, 0, 0.212);
  }
  .joinus {
    flex-direction: row;
    padding-bottom: 10%;
    place-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .joinus button {
    width: 40%;
    background-color: var(--button_background_color);
    color: var(--button_label_color);
    font-weight: 400;
  }
}


@media screen and (max-width: 415px) {

  .hero-text {
    width: 80%;
    text-align: center;
    align-items: center;
    position: absolute;
    font-size: medium;
    background-color: transparent;
    top: 50%;
    left: 50%;
    opacity: 1;
    padding-inline: 2%;
    transform: translate(-50%, -50%);
    color: var(--hero_joinbutton_txt_color);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.308),
    10px 10px 20px rgba(0, 0, 0, 0.212);
  }
  .joinus {
    flex-direction: column;
    padding-bottom: 10%;
    place-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .joinus button {
    width: 60%;
    font-weight: 400;
  }
}
