body::-webkit-scrollbar {
  display: none;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.joinus button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 40%;
  background-color: var(--text_button_background);
  color: var(--hero_joinbutton_txt_color);
  font-weight: 400;
}

.hero-text {
  text-align: center;
  align-items: center;
  position: absolute;
  font-size: small;
  top: 50%;
  left: 50%;
  padding: 10px;
  opacity: 1;
  background-color: transparent;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.308),
    10px 10px 20px rgba(0, 0, 0, 0.212);
}
.hero-text p {
  color: var(--hero_joinbutton_txt_color);
  font-weight: 500;
  font-family: 'Poppins';
  
}

.joinus button:hover {
  background-color:var(--hero_joinbutton_txt_color) ;
  color: var(--text_button_background);
}
.joinus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-inline: 15px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: x-large;
  color: var(--header_companylabel_color);
  font-weight: 800;
}
.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: none;
}
@import url("https://css.gg/menu.css");

/* responsive  */

@media screen and (max-width: 810px) {
  .menu {
    width: 100;
    max-height: 0;
    overflow: auto;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .hero-text {
    width: 80%;
    text-align: center;
    align-items: center;
    position: absolute;
    font-size: medium;
    background-color: transparent;
    top: 50%;
    left: 50%;
    opacity: 1;
    padding-inline: 2%;
    transform: translate(-50%, -50%);
    color: var(--hero_joinbutton_txt_color);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.308),
    10px 10px 20px rgba(0, 0, 0, 0.212);
  }
  .joinus {
    flex-direction: row;
    padding-bottom: 10%;
    place-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .joinus button {
    width: 40%;
    background-color: var(--text_button_background);
    color: var(--hero_joinbutton_txt_color);
    font-weight: 400;
  }
}


@media screen and (max-width: 415px) {

  .hero-text {
    width: 80%;
    text-align: center;
    align-items: center;
    position: absolute;
    font-size: medium;
    background-color: transparent;
    top: 50%;
    left: 50%;
    opacity: 1;
    padding-inline: 2%;
    transform: translate(-50%, -50%);
    color: var(--hero_joinbutton_txt_color);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.308),
    10px 10px 20px rgba(0, 0, 0, 0.212);
  }
  .joinus {
    flex-direction: column;
    padding-bottom: 10%;
    place-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .joinus button {
    width: 60%;
    background-color: var(--text_button_background);
    color: var(--hero_joinbutton_txt_color);
    font-weight: 400;
  }
}
